.button-group .btn{
  margin-top:3px;
  margin-bottom: 3px;
}

.button{
  &-group{

  }
}


.btn{
  white-space: normal;
  font-weight:600;
  text-transform: uppercase;
  border-radius:6px;

  img{
    max-height: 18px;
    position: relative;
    top:-2px;
    &.img-after{
      margin-left:3px;
    }
    &.img-before{
      margin-right:3px;
    }
  }

  &-navy{
    background-color: #001f3f;
    color:#fff;
    &:hover{
      background-color: #00295b;
      color:#fff;
    }
  }

  &.text{
    &-normalcase{
      text-transform: none;
    }
  }

  &-transparent{
    background-color: transparent;
  }

  &-outlined{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #202020;
    cursor: pointer;
    text-align: center;
    &:hover{
      background-color: #f8f8f8;
    }
    &:focus{
      outline-offset: 0!important;
      outline-color: #3659e3!important;
    }
    &.active{
      background-color: rgba(54,89,227,.1);
      border: 1px solid #3659e3;
      color: #3659e3;
    }
  }

  &-outline2{
    position: relative;
    /* border: 1px solid #c8e3f9; */
    display: inline-block;
    line-height: inherit;
    font-size: 15px;
    border-radius: 4px;
    padding: 6px 10px;
    border: 1px solid;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #eaf5fe;
    color: #2196f3;
    border-color: #2196f3;

    &:hover{
      background-color: #c8e3f9;
      color: #0a3a60;
      border-color: #1d527c;
    }

    &.success{
      background-color: #e7f3ee;
      border-color: #1db26e;
      color: #1db26e;
      &:hover{
        background-color: #cbf6e2;
        border-color: #134d33;
        color: #134d33;
      }
    }
  }

  &-border{
    &-2{
      border-width:2px;
    }
  }

  &-lg{
    min-width:100px;
    padding:8px 20px;
  }

  &-md{
    padding:8px 12px;
  }

  &.link-btn{
    &.v2{
      padding:6px 10px;
      line-height: inherit;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      &:hover{
        background-color: #eaf5fe;
        color: #2196f3;
        border-color: #2196f3;
      }
    }

    &-default{
      &.v2{
        &:hover{
          background-color: #fff;
          color: #202020;
          border-color: #838383;
        }
      }
    }

    &-success{
      &.v2{
        &:hover{
          background-color: #e7f3ee;
          border-color: #1db26e;
          color: #1db26e;
        }
      }
    }
  }

  &-link{
    &-2{
      border-bottom: 1px dotted;
      border-radius: 0;
      text-decoration: none;
      color:#2196f3;
      &:hover{
        color: #72afd2;
        border-style: solid;
      }
    }
  }

  @media (min-width:$md){
    &-md{
      padding:8px 20px;
    }

    &-lg{
      min-width:120px;
      padding:8px 20px;
    }
  }

}

@media(min-width:992px){
  .btn{
    //padding:5px 15px;
    //font-size:16px;
    &-sm{
      padding:5px 15px;
      font-size:16px;
    }
  }
}