.button-group .btn{
  margin-top:3px;
  margin-bottom: 3px;
}

.btn{
  &-lg{
    min-width:100px;
    padding:8px 20px;
  }

  &-md{
    padding:8px 20px;
  }
  @media (min-width:992px){
    &-md{
      padding:8px 20px;
    }

    &-lg{
      min-width:120px;
      padding:8px 20px;
    }
  }
}

@media(min-width:992px){
  .btn{
    //padding:5px 15px;
    //font-size:16px;
    &-sm{
      padding:5px 15px;
      font-size:16px;
    }
  }
}