body{
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight:600;
}

.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}


.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 9px;
  width: 4.5px;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 3.4px;
  top: 9px;
  position: absolute;
}


@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }

  20% {
    height: 0;
    width: 4.5px;
    opacity: 1;
  }

  40% {
    height: 9px;
    width: 4.5px;
    opacity: 1;
  }

  100% {
    height: 9px;
    width: 4.5px;
    opacity: 1;
  }
}


svg {
  width: 10px;
  /*display: none;
margin: 0 auto 0;*/
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@media (min-width:992px) {
  .prayer-section-wrapper {
    min-height: calc(100vh - 107px);
    max-height: calc(100vh - 107px);
  }
}

@media (min-height:1200px) {
  .event-text-caption {
    top: 35%;
  }
}

@media (min-height:801px) {
  .header-large-text {
    font-size: 42px;
  }

  .navbar-brand {
    padding: 10px;
  }
}

@media (min-height:1200px) {
  .header-small-text {
    font-size: 28px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.edit-area {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  height: 36px;
  overflow: hidden;
  transition: 0.3s all linear;
  /*box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.33);*/
}

.toggle-edit-area {
  font-size: 20px;
  color: #838383;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.edit-buttons {
  margin: 8px 5px;
}

.view-button {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.view-button {
  font-size: 20px;
  color: #838383;
  border: 2px solid #838383;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}

.view-button input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  /* visibility: hidden; */
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}

.height-auto {
  z-index: 999;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.panel-fullscreen-box-body {
  height: calc(100vh - 110px);
}


.table thead,
.e-table thead {
  /*background-color: #4e778d !important;*/
  color: #fff !important;
  font-size: 15px;
  background-color: #4e778d !important;
  th{
    background-color: #4e778d !important;
  }
}

.input-allign-button {
  margin-top: 24px !important;
}

.table-hover tbody tr:hover td {
  background: #c7dcdd !important;
}

.margin-5 {
  margin: 5px;
}

.sort-icon {
  opacity: 0.5;
}

.checkbox-holder {
  top: 30px;
  left: 10px;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 2px solid #818f8f;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  background-color: #28a745;
  border: 2px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -1px;
  left: 3px;
  color: #99a1a7;
  color: #ffffff;
}

/* 16-04-2022 */
.table{
  /*border-radius: 12px;*/
  /*overflow: hidden;*/
  box-shadow: 0px 2px 25px 0px #0000002b;
  margin-bottom: 30px;
  border-collapse: initial;
  border:1px solid rgba(189, 189, 189, 0.6);
  &-column-fatty{
    td{
      padding-top:15px!important;
      padding-bottom:15px!important;
    }

  }
}
.table thead{
  background-color: #21333D;
}
.table-responsive .table thead{
  color:#fff;
  font-size:15px;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
  padding: 15px;
  /*font-weight: 500;*/
  border:0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  /*border-width:0px;*/
  border:1px solid #ECECEC;
  border-right:0;
  border-top:0;
  border-bottom:0;
  vertical-align: middle;
  padding: 8px 10px;
}
.table-striped > tbody > tr:nth-of-type(odd){
  /*background-color: #E4ECF0;*/
  background-color: #f5f5f5;
}

.table-striped.table-ticket-list > tbody > tr{
  background-color: #fff;
}
.table-striped.table-ticket-list > tbody > tr:first-child,
.table-striped.table-ticket-list > tbody > tr:nth-child(4n+1){
  background-color: #E4ECF0;
}
.table-striped > tbody > tr.collapse{
  background-color: #fff;
}
.table-striped > tbody > tr.collapse:hover{
  background-color: #fff!important;
}
.table-striped > tbody > tr .btn:not(.btn-sm){
  /*padding:10px;*/
  /*font-size:15px;*/
}
.table .ticket-btn-holder{
  /*border-bottom: 1px solid #ddd;*/
}

.table-striped > tbody > tr.collapse:hover{
  background-color: #fff;
}
.table-striped > tbody > tr.collapse:hover td{
  background-color: #fff!important;
}
.table-striped > tbody > tr.collapse td{
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 25px;
  background-color: #fff!important;
}
.table-striped > tbody > tr.collapse .box-profile{
  background: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 2px 6px #00000024;
  margin-bottom:20px;
}

.table-striped > tbody > tr.collapse .box-profile img{
  margin: 0;
  float: left;
}

.table-striped > tbody > tr.collapse .box-profile .profile-username{
  padding-left: 115px;
  text-align: left;
}
.table-striped > tbody > tr.collapse .box-profile div{
  padding-left: 115px;
  padding-top: 7px;
}
.box.box-registration .overlay{
  background: #202020ba;
  position: relative;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.box-registration .overlay .fa{
  color: #fff;
  font-size: 40px;
  position: static;
}


/* LOGIN FORM */
.login-box-body, .register-box-body{
  border-radius: 12px;
  box-shadow: 0px 2px 10px #00000021;
}
.login-box-body .form-control{
  border-color:#8b8b8b;
  border-width: 2px;
}

.login-box-body .btn-primary{
  background-color: #202124;
  border-color: #202124;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.login-box-body .btn-primary:hover{
  background-color: #21333D;
  border-color: #21333D;
  box-shadow:0px 2px 4px 2px rgba(0, 0, 0, 0.21);
}
.login-box-body .form-control-feedback, .register-box-body .form-control-feedback{
  color:#21333d;
}

/*
17-04-2022
MENU DROPDOWN
 */
.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 280px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img{
  height: auto;
  max-width:40px;
  max-height:40px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > h4{
  font-size:15px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu div > img{
  max-width:40px;
  height:auto;
  max-height:40px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu li a{
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
  padding: 10px 10px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu li>a>p {
  margin: 3px 0 5px 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu li>a>h4>small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu, .navbar-nav>.messages-menu>.dropdown-menu>li .menu, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu{
  max-height: 280px;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu li>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu li>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu li>a:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.dropdown-menu>li .menu li.current,
.dropdown-menu>li .menu li.current>a:hover{
  background-color: #3c763d!important;
}
.dropdown-menu>li .menu li .dropdown-child-title{
  color:#077e48!important;
  font-weight: 600;
}
.dropdown-menu>li .menu li .dropdown-child-subtitle{
  color:#888888;
}
.dropdown-menu>li .menu li.current .dropdown-child-title{
  color:#fff!important;
}
.dropdown-menu>li .menu li.current .dropdown-child-subtitle{
  color:#f8f8f8!important;
}
.dropdown-menu>li .menu li.current .dropdown-child-subtitle{

}


.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
  box-shadow: 0px 4px 8px 0px #0000004a;
  border-radius: 0 0 7px 7px;
  border: 0;
  overflow: hidden;
}


.avatar-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  margin-bottom:10px;
}
.avatar-card .avatar-img{
  /*max-width: 30%;*/
  /*flex: 0 0 30%;*/
  margin-bottom:10px;
}
.avatar-card .avatar-img img{
  max-width: 100%;
  max-height: 200px;
  /* margin: 0 auto; */
  border:4px solid #f2f2f2;
}
.avatar-card .avatar-info{
  /*padding-left:10px;*/
  /*max-width:70%;*/
  /*flex:0 0 70%;*/
}
.avatar-card .profile-username{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.avatar-card .label{
  font-size: 13px;
  padding: 2px 10px;
}
.avatar-card .profile-meta{
  /*margin-bottom:8px;*/
}
.avatar-card .id-holder{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px 8px 2px;
  margin-right: 10px;
  box-shadow: inset 0px 0px 2px #00000038;
  font-size: 13px;
}


.box-profile .list-group{
  font-size: 16px;
}

.box-profile .list-group .icon{
  padding-right:6px;
}

/*.e-grid * {*/
/*font-size: 14px !important;*/
/*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif*/
/*}*/

.e-columnheader th {
  background-color:#4e778d !important;
  color: white !important;
}

.e-headercell {
  border-left-color: black !important;
}

.e-icon-filter {
  color: white !important;
}

.e-headertext {
  color: white !important;
}

.booth-number span {
  font-size: 1.3em;
  padding: 13px 35px;
  border: 1px solid #202020;
  line-height: 1;
  display: inline-block;
}

.btn-standard {
  background: #f8f49c;
  color: #202020;
}

.btn-prime-c {
  background: #6fcaf2;
  color: #202020;
}

.btn-prime-a {
  background: #73D39E;
  color: #202020;
}

.btn-sponsorship-aisle {
  background: #c42090;
  color: #fff;
}

.btn-prime-b {
  background: #fabf8e;
  color: #202020;
}

.input-group.input-group-transparent{
  border-bottom: 1px solid #ddd;
}
.input-group.input-group-transparent .input-group-addon{
  border:0;
  color:#7a7676;
}
.input-group.input-group-transparent .form-control{
  border:0;
  height:44px;
  padding-left:0;
}

.input-group.input-group-transparent ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7a7676;
  opacity: 1; /* Firefox */
}
.dropdown-toggle-content{
  position: relative;
  padding-right: 30px;
  margin-top: -4px;
  min-height:25px;
}
.dropdown-toggle-content-inner{
  display: flex;
  align-items: center;
}
.dropdown-toggle-icon{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 2px #0000001a;

}
.dropdown-toggle-icon img{
  max-width:85%;
  max-height:85%;
}

.dropdown-toggle-title{
  padding-left:10px;
  max-width:250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /*display:none;*/
}
.dropdown-toggle-sign{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-toggle-sign img{
  max-width:18px;
}
@media (min-width:992px){
  .dropdown-toggle-content{
    position: relative;
    padding-right: 30px;
    margin-top: 0;
    min-height:25px;
  }
  .dropdown-toggle-title{
    display: block;
  }
}

.dropdown-menu-child.show{
  display:block;
}
.dropdown-menu-child.hide{
  display:none;
}
.dropdown-menu-child .dropdown-child-title{
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.dropdown-company .dropdown-toggle{
  padding:5px 15px;
}
.info-box-content{
  padding:10px;
}
.social-nav{
  display:flex;
}
.nav-item-social{
  margin-right:15px;
}
.nav-item-social a{
  background: #8b8b8b;
  border-radius: 5px;
  border-color: #202020;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size:16px;
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.nav-item-social.block-facebook a{
  background: #4064ac;
  border-color: #2d2d70;
}

.nav-item-social.block-twitter a{
  background: #1c96e8;
  border-color: #1768a7;
}

.nav-item-social.block-youtube a{
  background: #e60000;
  border-color: #b00000;
}

.nav-item-social.block-linkedin a{
  background: #0e76a8;
  border-color: #0a5478;
}

.nav-item-social.block-instagram a{
  background: #c412c9;
  border-color: #900d94;
}
.pb-20{
  padding-bottom:20px;
}
.p-30{
  padding:15px;
}
.nav-tabs-custom.tabs-custom .tab-content{
  padding: 15px;
}
@media (min-width:768px){
  .p-30{
    padding:30px;
  }
  .nav-tabs-custom.tabs-custom .tab-content{
    padding: 30px;
  }
}

.contact-infos .info-box{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-infos .info-box-icon{
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #607d8b;
  color:#fff;
}
.contact-infos .info-box-content{
  padding:15px 0 0;
  margin:0;
}

.contact-infos .info-box-text{
  margin-bottom: 2px;
  color: #00a65a;
  font-weight: 600;
}

.contact-infos .info-box-number{
  min-height: 50px;
}
@media (min-width:1800px){
  .contact-infos .info-box-number{
    min-height: 0;
  }
}
.section-head .section-title{
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  color: #00a65a;
  font-size: 26px;
  padding-left: 15px;
  border-left: 4px solid;
  margin-top:10px;
}

/**
HELP PAGE
 */
.documentation-title{
  font-size:22px!important;
  font-weight:600;
}
.step-box{
  margin-bottom:20px;
  border-bottom:2px dashed #ddd;
}
.documentation-single .step-box:last-child{
  border-bottom:0;
}
.box-documentation{
  margin-bottom:35px;
  max-width:1020px;
}
.box-documentation .box-header{
  color: #0a0101;
  padding: 15px 10px;
  background: #fbe9e7;
  /*margin-top: -1px;*/
}
.box-documentation .box-header>.box-tools{
  top: 5px;
  left: 0;
  right: 0;
  text-align: right;
  z-index: 9;
}
.box-documentation .btn-box-tool{
  color:#bf360c;
  font-size:22px;
  width:100%;
  padding-right:15px;
  text-align: right;
}

.step-name{
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #e5240e;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  text-decoration: underline;
}
.step-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom:0;
  margin-top: 0;
}
.step-title{
  position: relative;
  padding: 0;
}
.step-indication{
  position: absolute;
  bottom: -14px;
}
.step-indication img{
  max-width:40px;
}

.step-img-holder{
  padding-left:50px;
  padding-bottom:20px;
}
.step-img-holder img{
  border-radius: 10px;
  box-shadow: 0 4px 5px #00000026;
  border: 1px solid #ddd;
  margin:0;
}

@media (min-width: 768px){
  .step-title{
    padding-left: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .step-indication{
    bottom: -31px;
    left: -4px;
  }
  .box-documentation .box-body{
    padding:30px 50px;
  }
}

@media (max-width:767px){
  .step-title{
    padding-bottom:11px;
  }
  .step-indication{
    bottom:-10px;
  }
  .step-indication img{
    max-width:20px;
  }
  .step-img-holder{
    padding-left:24px;
  }
}

.table-2tr-for-dtr thead{
  /*position: sticky;*/
  /*top:0;*/
}
.table-2tr-for-dtr td{
  white-space: normal;
}
.table-2tr-for-dtr thead th,
.table thead th{
  padding: 15px 12px!important;
  color:#fff;
}
.table-2tr-for-dtr th, .table-2tr-for-dtr td{
  /*white-space: nowrap;*/
  padding:8px 12px;
  vertical-align: middle!important;
}
.table-2tr-for-dtr p{
  margin:0;
}
.mr-10{
  margin-right:6px;
}
.mr-15{
  margin-right:15px;
}
.mr-5{
  margin-right:5px;
}
.mr-2{
  margin-right:2px;
}
.ml-2{
  margin-left:2px;
}

.link-btn{
  background-color: #c8e3f9;
  color: #2196f3;
  font-weight: 500;
  position: relative;
  padding: 4px 8px;
  border: 1px solid #2196f3;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
}
.btn.link-btn.link-btn-icon,
.table .btn.link-btn.link-btn-icon{
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  font-size: 16px;
}
.btn.link-btn.link-btn-icon .fa,
.table .btn.link-btn.link-btn-icon .fa{
  font-size:16px;
}

.link-btn:hover{
  background-color: #eaf5fe;
  color: #2196f3;
}


.table-2tr-for-dtr .button-group .btn:not(:last-child){
  margin-right:12px;
}
.btn.link-btn{
  background-color: #c8e3f9;
  color: #2196f3;
  font-weight: 500;
  position: relative;
  padding: 4px 8px;
  border: 1px solid #2196f3;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
}
.table .btn.link-btn{
  position: relative;
  /*border: 1px solid #c8e3f9;*/
  border:1px solid #1d527c;
  display: inline-block;
  line-height: inherit;
  font-size: 15px;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #c8e3f9;
  color: #0a3a60;
  font-weight: 600;
  text-transform: uppercase;
}

.link-btn.link-btn-danger,
.table .link-btn.link-btn-danger{
  background: #efd1cd;
  color:#a83021;
  border-color: #dd4b39;
}

.link-btn.link-btn-success,
.table .link-btn.link-btn-success{
  background-color: #cbf6e2;
  /*border-color: #31674c;*/
  border-color: #134d33;
  color: #134d33;
}

.link-btn.link-btn-default,
.table .link-btn.link-btn-default{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #f4f4f4;
  color: #444;
  border-color: #b5b5b5;
}

.table .link-btn.link-btn2{
  padding: 0;
  padding-bottom:2px;
  padding-top:2px;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #2196f3;
  color:#2196f3;
  border-radius: 0;
  border-style: solid;
  text-transform: none;
}

.table .link-btn.link-btn2:hover{
  border-color: transparent!important;
  border-bottom-color: #2196f3!important;
}


.btn.link-btn:hover{
  background-color: #eaf5fe;
  color: #2196f3;
}
.table .btn.link-btn:hover{
  background-color: #eaf5fe;
  color: #2196f3;
  border-color: #2196f3;
}

.link-btn.link-btn-default:hover,
.table .link-btn.link-btn-default:hover{
  background-color: #fff;
  color:#202020;
  border-color:#838383;
}

.link-btn.link-btn-success:hover,
.table .link-btn.link-btn-success:hover{
  background-color: #e7f3ee;
  border-color: #1db26e;
  color: #1db26e;
}

.link-btn.link-btn-danger:hover,
.table .link-btn.link-btn-danger:hover{
  background: #f1e6e4;
  color: #dd4b39;
  border-color: #dd4b39;
}

.table-2tr-for-dtr strong{
  font-weight: 600;
}
.btn-small{
  padding:2px 10px!important;
}
.table-2tr-for-dtr.table-striped > tbody > tr:nth-of-type(odd){
  background-color: #eaeaea;
}

.table-2tr-for-dtr .action-tr td{
  border-top: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
  /*border-bottom: 2px solid #9e9e9e;*/
  border-bottom: 1px solid #bcbcbc;
}

.table-2tr-for-dtr .action-tr:last-child td{
  border-bottom:0;
}

.table-2tr-for-dtr .btn-app{
  margin:0;
}

.bg-grey{
  /*background-color: #E4ECF0;*/
  background-color: #f5f5f5;
}

.font-600{
  font-weight: 600;
}
.text-medium{
  font-size:18px;
}
.nav-stacked.nav-stacked-custom li{
  padding:15px 15px;
}

.d-flex{
  display: flex;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.pb-4{
  padding-bottom:4px!important;
}
.pt-4{
  padding-top:4px!important;
}
.pb-2{
  padding-bottom:2px!important;
}
.pt-2{
  padding-top:2px!important;
}
.pt-15{
  padding-top:15px!important;
}
.pb-15{
  padding-bottom:15px!important;
}
.pl-15{
  padding-left:15px;
}
.pl-10{
  padding-left:10px;
}
.label-medium{
  font-size: 14px;
}
.d-inline-block{
  display: inline-block;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  /*border-color:#d8d8d8;*/
  border-color:#eaeaea;
  max-width:280px;
}
.box-header .box-title{
  font-size:22px;
  font-weight:600;
}
.mb-30{
  margin-bottom:30px;
}
.mb-10{
  margin-bottom:10px;
}
.mb-5{
  margin-bottom:5px!important;
}
.mt-10{
  margin-top:10px;
}
.mt-5{
  margin-top:5px;
}
.mt-15{
  margin-top:15px;
}
.text-white{
  color:#fff;
}
.content-header > h1{
  font-weight: 700;
}
.text-normal{
  font-weight:400;
}
.d-block{
  display: block;
}
.select2-container--default .select2-selection--multiple{
  border-color:#c3c3c3;
  position: relative;
  height:36px;
  .select2-selection__rendered{
    display: flex;
    overflow-x: auto;
  }
}
.select2-container--default .select2-selection--multiple:before{
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.ml-10{
  margin-left:10px;
}
.ml-5{
  margin-left:10px;
}
.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus{
  border:0;
}


.filter-box{
  /*min-height: 68px;*/
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 1.2;
  font-size: 14px;
}

.widget-user-2.style-custom .widget-user-header{
  /*background-color: #e8e8e8;*/
  background-color: #d2d6de;
  padding:12px 15px;
  border-top:2px solid #009688;
  border-radius: 0;
}

.widget-user-2.style-custom .box-footer{
  min-height: 178px;
}
.content .content-header{
  padding: 0;
  padding-bottom:15px;
}

.pr-15{
  padding-right:15px;
}
.section-title{
  margin: 0;
  margin-bottom:8px;
  &-bordered{
    padding: 0 0 10px;
    border-bottom: 1px solid cornflowerblue;
    color: cornflowerblue;
  }
}
.section-title.v2{
  color: #e91e63;
  color: #444;
  border-left: 4px solid #e91e63;
  border-left: 4px solid #444;
  padding-left: 9px;
}
.btn .fa{
  font-size: 14px;
}
.btn-sm .fa{
  font-size: 16px;
}
.sticky-head{
  /*height: 1800px;*/
  position: relative;
}
.sticky-head thead th,
.sticky-head thead td{
  position: sticky;
  top:0;
  z-index: 9;
}
.btn-action{
  font-size: 14px;
  padding:2px 12px;
}
.table-cell-padd .action-tr td{
  padding-top:15px!important;
  padding-bottom:15px!important;
}
.btn-link-underlined{
  padding-bottom:5px;
  text-decoration: none;
  border-bottom:1px dotted;
}

.btn-link-underlined:hover{
  text-decoration: none;
  border-bottom:1px solid;
}
.avatar-row{
  display: flex;
  align-items: center;
  margin-bottom:4px;
}
.avatar-row .avatar{
  width:35px;
  height:35px;
  max-width:35px;
  max-height:35px;
  margin-right:6px;
  border-radius:50%;
  border:2px solid #c3c3c3;
}
.table .btn-app{
  border-width:2px;
}
.label-2{
  font-size:88%;
}
footer.main-footer{
  font-size: 15px;
}
@media (max-width:992px){
  footer.main-footer{
    text-align: center;
  }
  footer.main-footer .pull-right{
    float: none!important;
    margin-bottom:6px;
  }
}

.p-relative{
  position: relative;
}

/*intl-tel-input*/
.iti{
  display: block;
}
.iti__flag {background-image: url("../../plugins/intl-tel-input/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../../plugins/intl-tel-input/img/flags@2x.png");}
}
.phone-validator-wrapper .alert-message{
  /*position: absolute;*/
  /*left:0;*/
  /*right:0;*/
  line-height: 1.2;
  font-size:14px;
  margin:0;
  position: relative;
}
.phone-validator-wrapper .alert-message:before{
  display: inline-block;
}
.phone-validator-wrapper .alert-message.text-success:before{
  content:'\2705';
}

.btn-link-underlined .fa{
  font-size: 13px;
}
.table .btn-link-underlined{
  padding-bottom:2px;
}
a{
  color: #2196f3;
}
a:hover{
  color:#72afd2;
}
.btn-sm{
  padding:6px 12px;
}
.btn-icon{
  width:36px;
  height:36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.icheck .checkbox-text{
  position: relative;
  top: 2px;
  padding-left: 4px;
}
.icheck-custom .icheckbox_square-blue{
  background: none;
  border:2px solid;
}
.icheck-custom .icheckbox_square-blue.checked{
  border: 0;
  background: url(../../plugins/iCheck/square/blue.png) no-repeat;
  background-position: -48px 0;
}

@media (min-width:992px){
  .d-md-flex{
    display: flex;
  }
  .text-md-right{
    text-align: right;
  }
}

.alert-info.alert-custom{
  color:#0b4f5f!important;
  border-color:#a8ecfc;
  border-left-color: #0c6677;
  background-color: #d9edf7!important;
}
.alert-custom{
  padding:10px 15px;
  border-left:3px solid #0c6677;
}
.uploader-wrapper{
  margin-top:15px;
  width: 200px;
  height: 200px;
  background-size:contain;
  border-radius:4px;
  border:2px solid #ddd;
  /*background-image:url(../../dist/img/avatar.png);*/
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.uploader-wrapper:after{
  content:'';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
.uploader-wrapper img{
  max-width:95%;
}
.file-uploader-icon{
  z-index: 99;
}
.file-uploader-icon img{
  max-width:80px;
  margin:0 auto;
}
//.d-none{
//  display: none;
//}

.info-box.v2{
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.20);
  border-radius: 0.25rem;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  min-height: 80px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.info-box.v2 .info-box-icon {
  border-radius: 0.25rem;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 1.875rem;*/
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  /*width: 70px;*/
}
.info-box.v2 .info-box-number{
  color:#333;
}
.info-box.v2 .info-box-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.8;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  margin:0;
}
.info-box.v2 .bg-primary{
  background: #337ab7
}

.info-box.v2 .bg-danger{
  background: #a94442;
  color: #fff;
}

.info-box-text {
  font-size: 20px;
  font-weight: 700;
}

.pie-chart .pie-chart-center-text{
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
}
.main-header .logo{
  height:53px;
}
.label-beta{
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  position: absolute;
  top: 5px;
}
.bg-white{
  background-color: #fff;
  /*color:#dd4b39;*/
}

.table-foot{
  padding: 10px 10px;
  background: #c8e3f9;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #bcbcbc;
  border-style: dashed;
  border-width: 2px;
  border-color: #202020;
  background: #ddd;
}
.table-foot-inner{
  max-width:700px;
  margin-left:auto;
  display: flex;
  justify-content: flex-end;

}
.table-foot-inner span:not(:last-child){
  margin-right:50px;
}
@media (max-width:768px){
  .table-foot-inner{
    flex-direction: column;
  }
  .table-foot-inner span{
    margin-right:0;
  }
}

.modal-header{
  position: relative;
}
.modal-content{
  position: relative;
}


.icheck-checkbox{
  padding-left:0;
}

.icheck-checkbox label{
  padding-left:0;
  color:#202020;
}
.icheckbox_square-blue{
  margin-right:6px;
}

table tr.bg-white td,
table tr.bg-white tr th{
  background-color: #fff;
}

.table-responsive .table td{
  max-width:320px;
}

.box.v2{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
}
.box.v2 .box-body{
  padding: 20px;
}
.input-in-text{

}
.border-divider{
  border-top:1px solid #ddd;
  padding-top:15px;
  margin-top:15px;
}
.e-grid .e-rowcell:last-child, .e-grid .e-summarycell:last-child{
  padding-right:10px!important;
}
.e-grid .e-rowcell:first-child, .e-grid .e-summarycell:first-child{
  padding-left:10px!important;
}
.btn-check-group{
  display: inline-flex;
}
.btn-check-group-label{
  height: 38px;
  display: block;
  justify-content: center;
  align-items: center;
  border: 1px solid#ddd;
  padding: 6px 10px;
}
.btn-check-group .input-group-addon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  width:auto;
  padding:0 10px;
}

//.box{
//  &-header{
//    @media(min-width:992px){
//      padding:15px 30px;
//    }
//  }
//  &-body{
//
//    @media(min-width:992px){
//      padding:20px 30px;
//    }
//  }
//}


@media(max-width:992px){
  .border-md-right-down{
    border-top:1px solid #ddd;
  }
  .pt-md-10-down{
    padding-top:10px;
  }
  .mt-md-15-down{
    margin-top:15px;
  }
}

.body-overlayer{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.3);
  visibility: hidden;
  &.active{
    visibility: visible;
  }
}

.content{
  &-header{

  }

  &-box{
    max-width:800px;
    &-left{
      margin-left:0;
    }

    &.medium{
      max-width:1000px;
    }

    .btn{
      &-outlined{
        padding-left:4px;
        padding-right:4px;
      }
    }
  }
}

.list{
  &-bulleted{
    padding-left:0;
    li{
      display: inline-block;
      margin-right:5px;
      position: relative;
      &:before{
        content:'';
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: #877979;
        display: inline-block;
        top: -2px;
        position: relative;
        left: 0;
        margin-right: 6px;
      }
    }
  }
}
