.card{
  &-box{
    &-inner{
      padding:15px;
      position: relative;
      &-content{
        padding-top:10px;
      }
    }

    @media (min-width: 768px) {
      &-inner{
        &-content{
          padding: 0 20px;
          border-left: 2px solid #ddd;
          margin-left: 20px;
          width:100%;
        }
      }
    }
  }
}

.event-list{
  .card{
    &-box{
      &-title{
        font-size: 2.5rem;
      }

      @media (min-width: 768px) {
        &-title{
          font-size: 2.6rem;
          line-height: 3rem;
        }

        &-image{
          //padding-top:0;
          //min-height: 210px;
          padding-top: 0;
          position: relative;
          height: 100%;
        }
        &-inner-content{
          //margin-left:-10px;
        }
      }
    }
  }
}


.date-card{
  position: absolute;
  top: 16px;
  z-index: 9;
  right: 15px;
  box-shadow: -2px 4px 6px #00000080;

  text-align: center;
  /* border: 1px solid #ddd; */
  padding: 0 0 5px 0;
  width: 80px;
  background: #ECF0F5;
  @media (min-width: 768px) {
    box-shadow: none;
    position: static;
    width: 115px;
    flex: 0 0 115px;
  }
}
.month-name{
  background: #3F51B5;
  color: #fff;
  padding: 1px 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  @media (min-width: 768px) {
    padding:4px 0;
  }
}
.date-name{
  font-size: 3rem;
  font-weight: 800;
  padding: 4px;
  @media (min-width: 768px) {
    font-size: 4rem;
    padding: 15px;
  }
}

.event-list{
  td{
    vertical-align: top!important;
  }

  td{
    .card{
      &-box{
        &-title{
          font-size: 1.8rem;
        }
        &-image{
          min-height: auto;
          padding-top:80%;
        }
      }
    }

    .card-box-inner{
      padding:0;
      &-content{
        margin-left:-20px;
      }
    }
  }

}
.tag-ticket{
  position: absolute;
  top: 15px;
  left: 15px;
  background: #1A237E;
  color: #fff;
  padding: 4px 15px;
  clip-path: polygon(100% 0, 94% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
  border-radius: 5px;
  overflow: hidden;
}

.mt-30{
  margin-top:30px;
}

.event-contact-info{
  .info{
    &-box{
      &-number{
        font-weight: 400;
      }
    }
  }
}
.event-detail-title{
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.event{
  &-single{
    &-left{
      width:100%;
    }
    &-right{
      width:100%;
      .card-box-image{
        border-radius: 4px!important;
        overflow: hidden;
      }
    }

    @media (min-width: 768px) {
      &-left{
        width:80%;
      }
      &-right{
        width:20%;
      }
    }
  }

  &-date{
    &-calendar{
      width:130px;
      text-align: center;
    }
  }
}

.event-single-box{
  display: flex;
  flex-direction: column-reverse;
  @media (min-width:768px){
    flex-direction: row;
  }
}

.past-event{
  .event-single-box{
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
    .card-box-inner-content{
      margin-left:0;
      margin-right:0;
      border:0;
    }
  }
}

.content-box{
  .contact-infos{
    .info-box{
      @media (min-width:768px){
        min-height: 215px;
      }
    }
  }
}
