.nav-tabs{
  &-custom{
    .nav-tabs{
      &>li{
        border-bottom-width:3px;
        border-bottom-style: solid;
        border-bottom-color:transparent;
        border-top:0;

        a{
          line-height: 1;
          &:hover{
            background-color: #f2f2f2;
            color:#444;
          }
        }

        &.active{
          border-bottom-color:#3c8dbc;
          &>a{
            border-radius: 5px 5px 0 0;
            background: #e7ecf0;
            color: #3c8dbc;
            &:hover{
              border-radius: 5px 5px 0 0;
              background: #e7ecf0;
              color: #3c8dbc;
            }
          }
        }
      }
    }
  }
}