.table{
  &-borderless{
    border:0!important;
    td{
      border:0!important;
    }
  }

  &-custom{
    .table{
      &-row{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
      }
      &-column{
        padding:5px;
        @media (min-width: 768px){
          padding:15px;
        }
      }
    }
  }
}