//=== margin
.mr-30{
  margin-right: 20px;
  @media (min-width:768px){
    margin-right:30px;
  }
}

.mr-20{
  margin-right: 15px;
  @media (min-width:768px){
    margin-right:20px;
  }
}

.mb-20{
  margin-bottom: 20px;
}

//=== padding
.py-30{
  padding-top:30px;
  padding-bottom:30px;
}
.px-15{
  padding-left:15px;
  padding-right:15px;
}
.p-15{
  padding:15px;
}
.pb-30{
  padding-bottom:30px;
}
.pt-30{
  padding-top:30px;
}
.pl-0{
  padding-left:0;
}
.pl-15{
  padding-left:15px;
}
//=== border
.border-1{
  border:1px solid #ddd;
  border-radius:4px;
}

//=== border radius
.round-5{
  border-radius:5px;
}

.d-none{
  display: none;
}

.d-inline-flex{
  display: inline-flex;
}

.d-sm-flex{
  @media (min-width:$sm){
    display: flex;
  }
}

.d-sm-inline-block{
  display: none;
  @media (min-width: $sm){
    display: inline-block;
  }
}

//=== text
.text-small{
  font-size:14px;
}

.text{
  &-dark{
    color:#000;
  }
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: underline;
    }
  }

  &-md{
    font-size: 20px;
  }

  &-xs-small{
    font-size: 8px;
  }
}

//=== background
.bg{
  &-gray{
    &-light{
      background-color: #f2f2f2;
    }
  }
}


.hr{
  &-2{
    border-top:2px solid #ddd;
  }
}

.d-sm-flex{
  @media (min-width: 768px) {
    display: flex;
  }
}

.w-75{
  width:75%;
}
.w-50{
  width:50%;
}
.w-40{
  width:40%;
}
.w-60{
  width:60%;
}
.w-25{
  width:25%;
}

.box-shadow-none{
  box-shadow: none!important;
}
.position{
  &-relative{
    position: relative;
  }
}

.visible{
  visibility: visible!important;
}