//responsive breakingpoint
$sm: 768px;
$md: 992px;
$lg: 1250px;

$color-blue: #2196f3;
$color-red: #e91e63;
$color-green2: #009688;
$bg-green-light: #E9FCF6;
$bg-red-light: #FFF2F9;
$bg-blue-light: #F2F7FF;