
@{
    ViewBag.Title = "Help";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <h3 class="box-title">@ViewBag.Title</h3>


    <div class="documentation-wrapper">
    <!-- how to's box attendance manage -->
        <div class="box box-danger box-documentation">
            <div class="box-header with-border">
                <h3 class="box-title documentation-title">How to take attendance?</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="documentation-single">
                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 1</p>
                            <h2 class="step-text">Click 'Classes' from menu</h2>
                        
                        </div>
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 2</p>
                            <h2 class="step-text">Go to 'Sessions' from table row</h2>
                        
                        </div>
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 3</p>
                            <h2 class="step-text">Then go to 'Attendance' from session row</h2>
                        
                        </div>

                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 4</p>
                            <h2 class="step-text">Select an option from 'On Time', 'Tardy', 'Absent With Cause' and 'Absent Without Cause'</h2>
                        
                        </div>

                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 5</p>
                            <h2 class="step-text">Then submit by clicking 'Save' button</h2>
                        
                        </div>

                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 6</p>
                            <h2 class="step-text">Finally click 'ok' from the popup to take attendance</h2>
                        
                        </div>

                    </div>

                    
                </div>
            </div><!-- /.box-body -->
        </div>

        <!-- how to's box attendance print -->
        <div class="box box-danger box-documentation">
            <div class="box-header with-border">
                <h3 class="box-title documentation-title">How to print attendance sheet?</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="documentation-single">
                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 1</p>
                            <h2 class="step-text">Go to 'Classes' from menu</h2>
                        
                        </div>
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 2</p>
                            <h2 class="step-text">Then go to 'Sessions' from the table</h2>
                        
                        </div>
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 3</p>
                            <h2 class="step-text">Print attendance by clicking 'Attendance Print' button</h2>
                        
                        </div>

                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>

        <!-- how to's box create assignment -->
        <div class="box box-danger box-documentation">
            <div class="box-header with-border">
                <h3 class="box-title documentation-title">How to create assignment?</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="documentation-single">
                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 1</p>
                            <h2 class="step-text">Go to 'Create Assignment' from 'Assignment' menu</h2>
                            
                        </div>
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 2</p>
                            <h2 class="step-text">Fill up the form with assignment details</h2>
                        
                        </div>

                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 3</p>
                            <h2 class="step-text">Click Save button to create assignment</h2>
                        </div>

                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>

        <!-- how to's box students print -->
        <div class="box box-danger box-documentation">
            <div class="box-header with-border">
                <h3 class="box-title documentation-title">How to get student list?</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="documentation-single">
                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 1</p>
                            <h2 class="step-text">Go to 'classes' from menu</h2>
                        
                        </div>

                    
                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step 2</p>
                            <h2 class="step-text">Go to 'Students' from the table</h2>
                            
                        </div>

                    </div>

                    <!-- step box -->
                    <div class="step-box">
                        <div class="step-title">
                            <p class="step-name">Step </p>
                            <h2 class="step-text">Get student list by clicking 'Export Button'</h2>
                            
                        </div>

                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>

        

        

        

    </div>

</section>